.navigation{
    &__checkbox{
        display: none;
    }

    &__button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000; //this is highest z index so it is in front the most
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
    }

    &__background{
        height: 7rem; // this background is literally hiding inside the button
        width: 7rem;
        border-radius: 50%; //the whole background is a big circle in order to create an animation effect when you open it
        position: fixed; 
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000; //to be front all the time

        // transform: scale(80);
        transition: transform .8s cubic-bezier(0.86,0, 0.07, 1); //cubic-bezier is for transition acceleration time
    }

    &__nav{
        height: 100vh;
        
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        // background: orangered;

        opacity:0;
        width: 0;//you make width zero in order to not have any links from the navs show
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }

    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        //width: 100%;//i don't get it but you need to specify the width here in order to keep the words from going to the side when presing button
    }

    &__item{
        margin: 1rem;

    }

    &__link{
        &:link,
        &:visited{
            display: inline-block; //originally it is inline, but you need to put inline-block in order for the padding to apply and transform to apply
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            //start at 0%, and then half orangered and white
            background-image: linear-gradient(120deg, transparent 0%,transparent 50%, $color-white 50%); //this creates the angle transition 
            background-size: 225%; //background size at 100% is half of the words 
            transition: all .4s;

            span{
                display: inline-block;//in order to use padding
                padding: 1.5rem;
            }
        }

        &:hover,
        &:active{
            background-position: 100%; //
            color: $color-primary;
            transform: translateX(1rem);
        }

    }

    //FUNCTIONALITY
    &__checkbox:checked ~ &__background{ //&__background is general sibling to select 
        transform: scale(80);
    }


    &__checkbox:checked ~ &__nav{ //&__background is general sibling to select 
        opacity: 1;
        width: 100%;
    }

    //ICON
    &__icon{
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after{
            content: ""; //need to show that content has something in order for the content to display something
            position: absolute; // you want the element to be on top of the center leader then you start playing their top and bottom location
            left: 0; //you want the before and after psuedo class be pushed to the left
            transition: all .2s;
        }

        &::before{ //before is bottom...
            top: -.8rem;
        }

        &::after{//after is top
            top: .8rem;
        } 
        // this is my attempt. i stated that i hover each individual element
        // &:hover{
        //     &::before{
        //         top: -1rem;
        //         transition: all .8s;
        //     }

        //     &::after{
        //         top: 1rem;
        //     }
        // }

    }

    &__button:hover &__icon::before{
        top: -1rem; //negative goes up in this position apparentl
    }

    &__button:hover &__icon::after{
        top: 1rem;
    }

    //button is the closest/adacent sibling to checkbox and icon is the child to button
    //when the check box is checked , then we select its brother, the button, and then we select the buttons child, icon
    //this basically says when checkboxed is check, then do some change to the icon
    &__checkbox:checked + &__button &__icon{
        background-color: transparent; // to make the middle line dissapear
    }

    &__checkbox:checked + &__button &__icon:before{
        top: 0;
        // transform: rotate(45deg); //to create the cross
        transform: rotate(135deg); //to add some more stylistic element
    } 

    &__checkbox:checked + &__button &__icon:after{
        top: 0; //to move them to the middle
        // transform: rotate(-45deg);
        transform: rotate(-135deg);
    } 
}