.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
    overflow: hidden; //fix the fact that the picture itself is overflowing the section

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;//cover the whole section while trying to keep aspect ratio
    }
}