body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    /* padding: 30px; */
    
    
  }
  
.heading-primary{
    color:$color-white;
    text-transform: uppercase;
    /* block element occupy the entire width and they create line breaks after and before them */
    backface-visibility: hidden;
    /* apparently this backface visibility fixes a shaking issue */
    /* margin: 60px; */
    margin-bottom: 6rem;


    
  &--main{
    display: block;
    /* font-size: 60px; */
    font-size: 6rem;
    font-weight: 400;
    /* letter-spacing: 35px; */
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone){
      letter-spacing: 1rem;
      font-size: 5rem;
    }

    /* animation-delay: 3s;
    animation-iteration-count: 3;
    
    */
  }
    
  &--sub{
    display: block;
    /* font-size: 20px; */
    font-size: 2rem;
    font-weight: 700;
    /* letter-spacing: 17.4px; */
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone){
      letter-spacing: .5rem;
      
    }
  }
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  //in order to make the gradiant stay behind the text only
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
//   we set this background-clip property to text
// it will clip the background (the linear gradiant), it will clip it to exactly the places
// where the text sits 
// so the background image or gradient will only be visible where the text is 
  -webkit-background-clip:text;
  // but we want to only see the background image
  // make text transparent so you can see the background
  //so now the linear gradiant is the color of the text 
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  @include respond(tab-port){
    font-size: 3rem;
  }

  @include respond(phone){
    font-size: 2.5rem;
  }

  &:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph{
  font-size: $default-font-size;

  &:not(:last-child){
    margin-bottom: 3rem;
  }
}