@mixin clearfix{
  &::after{
    content:"";
    display: table;
    //clear for both left and right
    clear: both;
  }
}

// // A clearfix is a way for an element to automatically clear its 
// child elements, so that you don't need to add additional markup. 
// It's generally used in float layouts where elements are floated to be stacked horizontally.